@model MVCNhibernate.Models.Görevliler
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Görevliler</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Personel_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Personel_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ad_Soyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ad_Soyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TC_Kimlik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TC_Kimlik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unvan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unvan)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
@Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>}
</div>

